.header {
  background-color: rgb(58, 1, 101);
  width: 100%;
  height: 10vh;
  padding: 30px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo{
    font-size: 30px;
    font-weight: 600;
    color: aliceblue;
}

.header .nav{
    display: flex;
    gap: 30px;
}

.header .nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.header .nav a span{
    color: blueviolet;
}
