.buttons{
    display: flex;
    gap: 20px;
}

.buttons button{
    width: 110px;
    height: 45px;
    background-color: transparent;
    color: white;
    border: 2px white solid;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

.buttons button:hover{
    background-color: aliceblue;
    color: black;
    transition: all .3s ease-in-out;
}