.section{
    width: 100%;
    height: 90vh;
    background-color: rgb(58, 1, 101);
    padding: 30px 10%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;

}

.section h2{
    font-size: 3.5rem;
    max-width: 520px;
    color: aliceblue;
}

.section span{
    color: rgb(247, 0, 255);
}